<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.gen.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.gen.domain.Course">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="x_id" jdbcType="VARCHAR" property="xId" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
</mapper>