<div class="modal fade" id="course-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="course-add-modal-title">新增课程</h3>
            </div>
            <div class="modal-body">
                <form id="course-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	课程名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="courseName" class="form-control">
                                    <input type="text" name="oldcourseName" hidden class="form-control">
                                    <input type="text" name="id" hidden class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 课程图片：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="imgUrl" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save"  id="course-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/course/courseAdd.js}"></script>