<div class="modal fade" id="studentDetail-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="homeWord-add-modal-title">评论作业</h3>
            </div>
            <div class="modal-body">
                <form id="homeWord-add-form">
                    <input type="hidden" name="homeWordId" />
                    <input type="hidden" name="id" />
                    <input type="hidden" name="userId" />
                    <input type="hidden" name="homeWordStatus">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代码url：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="homeWordUrl" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               图片url：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="homeWordImg" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 备注：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="homeWordMark" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 分数：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="homeWordFeng" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 评论：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="homeWordPing" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save"  id="homeWord-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/studentDetail/studentDetailAdd.js}"></script>